body{
    font-family: "Google Sans", arial, sans-serif;
}


h1 {
color: rgb(112, 117, 122);
font-size: 28px;
font-weight: 400;
line-height: 28px; 
margin-bottom: 0;
}

ul{
 margin: 0;
 padding: 0;
}

li {
list-style: none;
margin: 0;
padding: 0;

color: rgb(112, 117, 122);
font-size: 12px; 
font-weight: 400; 

line-height: 16px ; 
}

li:first-letter{
    text-transform: capitalize;
}

.wheather-wrapper {
   max-width: 600px;
    margin: 30px auto;
}

.wheather {
    
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.overwiev {
    margin-bottom: 20px;
}

.wheather-temperature img {
    margin-right: 5px;
    float: left;
    height: 64px;
    width: 64px;

}

.wheather-temperature strong{
    color: rgb(32, 33, 36);
    margin-right: 0px;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}
.wheather-temperature .units {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    vertical-align: top;
    
}

.wheather-temperature .active {
    color: rgb(32, 33, 36);

}
.wheather-temperature  .active:hover {
    text-decoration: none;
    
}
a {
    text-decoration: none;
    cursor: default;
}